{% extends 'shop/basic.html' %}
{% load static %}

{% block title %}{{product.product_name}} - My awesome Cart{% endblock %}

{% block body %}
<div class="container my-4">
    <div class="row">
    <div class="col-md-4"
    <div class="row">
        <img src="{{product.product_image.url}}"width="239px" height="200px">
    </div>
        <div class="row">
            <button class="btn btn-primary mx-3">Buy now</button>
            <button class="btn btn-primary">Add to cart</button>
        </div>
      </div>
<div class="col-md-8">
    <h5>{{product.product_name}}</h5>
    <p><b>Rs.</b>{{product.price}}</p>
    <p>{{product.desc}}</p>
</div>
{% endblock %}
<script>
console.log('working');
let cart = {};

// Load existing cart from localStorage
if (localStorage.getItem('cart') !== null) {
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById('cart').innerText = Object.keys(cart).length;
}

// Attach event listener to Cart buttons
let cartButtons = document.getElementsByClassName('cart');
for (let i = 0; i < cartButtons.length; i++) {
    cartButtons[i].addEventListener('click', function (e) {
        e.preventDefault();
        let idstr = this.id.toString();
        console.log("Clicked product:", idstr);

        if (cart[idstr] !== undefined) {
            cart[idstr] = cart[idstr] + 1;
        } else {
            cart[idstr] = 1;
        }

        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById('cart').innerText = Object.keys(cart).length;
    });
    $('#popcart').popover();
    document.getElementById('popcart').setAttributte('data-content','<h5>Cart for your shopping items</h5>');
}
</script>
    {% end block %}